<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="navbar"> </div>
<div id="channelBar"> </div>

<div id="channelThreadsHolder" class="channelThreadsHolder"> </div>
<div id="threadMessagesHolder" class="threadMessagesHolder"> </div>
<div id="channelNameHeader" class="channelNameHeader"> </div>
<script src="/loadNavbar.js"> </script>
<script src="/loadThread.js"> </script>
<script src="/loadChannelBar.js"> </script>
<script src="/loadChannel.js" ></script>

<script>
    window.onload = function() {
        window.user = <%- user %>
        window.loggedIn = <%- loggedIn %>
        loadNavbar();
        // it's weird, but it works - don't touch it!
        let _channels = <%- JSON.stringify(channels) %>
        window.channels = JSON.parse(_channels);
        console.log('auth:', window.loggedIn);
        //window.channels = getTest;  // Converts to a valid JS object
        //window.channels = JSON.parse('[{"id":1,"name":"Test Channel","topicListID":0}]' );
        loadChannelBar();
        setCurrentChannel(window.channels[0]);
        console.log("Page has fully loaded");
        // Your code to execute after the page is loaded
    };
</script>
</body>
