<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="navbar"> </div>
    <script src="loadNavbar.js"> </script>
    <script>
        window.onload = function() {
            loadNavbar();
        };
    </script>

    <form method = 'post'>
        Username: <input type='text' name = 'username'> <BR>
        Password: <input type='password' name = 'password'> <BR>
        PUI UN CAPTCHA QUI! <BR>
        <input type = 'submit'>
    </form> <BR>
    <A HREF = '/register';> Create an account </A> <BR>
</body>