<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="navbar"> </div>
<div id="userInfoContainer"> </div>
<script src="/loadNavbar.js"> </script>
<script src="/loadUserPage.js"> </script>
<div id="userInfoContainer"> </div>
<script src="/loadNavbar.js"> </script>
<script src="/loadUserPage.js"> </script>

<script>
    const isPrivatePage = <%- JSON.stringify(isPrivatePage) %>
    const isPrivatePage = <%- JSON.stringify(isPrivatePage) %>
    window.onload = function() {
        window.user = <%- user %>
        window.user = <%- user %>
        loadNavbar();
        loadUserPage(JSON.stringify(isPrivatePage),window.user);
    };
    console.log("CIAO!");

</script>
</body>
</html>