<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="navbar"> </div>
<div id="channelBar"> </div>
    <div id="channelThreadsHolder" class="channelThreadsHolder"> </div>

<script src="loadNavbar.js"> </script>
<script>
    window.onload = function() {
        window.user = <%= user %>
        loadNavbar();
    };
</script>
</body>
</html>