<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="navbar"> </div>
<script src="/loadNavbar.js"> </script>
<script>
    window.onload = function() {
        window.user = <%- JSON.stringify(user) %>
        loadNavbar();
    };
</script>
</body>
</html>