<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> OpenForum Request Password Reset </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/generalLogin.css">
</head>
<body>
    <div id="navbar"></div>
    <div id="copyright-div"> </div>
    <script src="/loadNavbar.js"></script>
    <script src="/loadCopyright.js"></script>

    <script>

        const MIN_PASSWORD_LEN = 10;

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        window.onload = function() {
            loadNavbar();
            loadCopyright();
        };
    </script>

<div class="login-box" id="container">
    <p class='stdText' style='font-family: var(--stdHeaderFontFamily); font-size: 30px; font-weight: 600; text-shadow: var(--stdShadow); margin-bottom: -3px;'>OpenForum Password Reset</p>
    <br>
    <div class="errorText" id="error-msg" style="height: 12px"> </div>

    <form id="password-reset-form" >
      <input type="password" name="password" id="password" placeholder="New Password" required><br>
      <input type="password" id="password-confirm" placeholder="Confirm Password" required><br>
    </form>

    <p id="error-msg" style="color: red; display: none;"></p>
    <button class='page-button' id = 'reset-button'> Reset Password </button>

</div>

<script>
const submitButton = document.getElementById('reset-button');
submitButton.addEventListener('click', async(e) => {
    const password = document.getElementById('password').value;
    const passwordConfirm = document.getElementById('password-confirm').value;
    const errorMsgElem = document.getElementById('error-msg');
    if (password == passwordConfirm) {
        if (password.length < MIN_PASSWORD_LEN) {
            errorMsgElem.innerText = `Password must be at least ${MIN_PASSWORD_LEN} characters long`;
        } else {
            errorMsgElem.innerText = ''
            // Get token and username from URL
            const params = new URLSearchParams(window.location.search);
            username = params.get('username');
            token = params.get('token');
            const res = await fetch('/reset-password', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ newPassword: password, token: token, username: username})
            });
            if (res.ok) {
                window.location.href = '/login';
            } else {
                errorMsgElem.innerText = `Error: Failed to reset password: Error ${res.status}`
            }
        }
    } else {
        errorMsgElem.innerText = 'Passwords must match'
    }
});
</script>

</body>
</html>