<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> OpenForum </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="navbar"> </div>
<div id="userInfoContainer"> </div>
<script src="/loadNavbar.js"> </script>
<script src="/loadUserPage.js"> </script>
<script src="/loadNavbar.js"> </script>
<script src="/countryCodes.js"> </script>
<script src="/loadUserPage.js"> </script>
<script src="/loadCopyright.js"></script>

<script>
    window.isPrivatePage = Boolean(<%- JSON.stringify(isPrivatePage) %>)
    console.log('priv',isPrivatePage);
    window.onload = function() {
        window.user = <%- user %>
        window.loggedIn = <%- loggedIn %>
        loadNavbar();
        loadUserPage(window.user);
        loadCopyright();
    };

</script>
<div id="copyright-div"> </div>

</body>
</html>