:root {
    --channelBarWidth: 250px;

    --mainTextColor: #e5e2d9;
    --backgroundColor: rgb(115, 135, 125);
    --chatTypeBoxHeight: 40px;
    --navBarColor:  color-mix(in srgb, var(--backgroundColor) 90%, black);
    --stdHeaderFontFamily:"Times New Roman", Georgia, serif;
    --stdMinorFontFamily:"Verdana",Geneva,sans-serif;
    --stdBorder: 1.5px solid black;
    --stdRed: rgb(150,20,20);
    /*--stdShadowOffset:  2px 2px 0px rgba(0, 0, 0, 1). /* Horizontal, Vertical, Blur, Color */
    --stdShadow: 
        .3px .3px 0px rgba(0, 0, 0, 1),
        .6px .6px 0px rgba(0, 0, 0, 1),  
        .9px .9px 0px rgba(0, 0, 0, 1),
        1.2px 1.2px 0px rgba(0, 0, 0, 1),
        1.5px 1.5px 0px rgba(0, 0, 0, 1), 
        1.8px 1.8px 0px rgba(0, 0, 0, 1), 
        2.1px 2.1px 0px rgba(0, 0, 0, 1), 
        2.4px 2.4px 0px rgba(0, 0, 0, 1), 
        2.7px 2.7px 0px rgba(0, 0, 0, 1);

    --stdMinorShadow: 
        .3px .3px 0px rgba(0, 0, 0, 1),
        .6px .6px 0px rgba(0, 0, 0, 1),  
        .9px .9px 0px rgba(0, 0, 0, 1),
        1.2px 1.2px 0px rgba(0, 0, 0, 1),
        1.5px 1.5px 0px rgba(0, 0, 0, 1),
        1.8px 1.8px 0px rgba(0, 0, 0, 1);

    --stdInsetMinorShadow: 
        inset .3px .3px 0px rgba(50, 50, 50, 1),
        inset .6px .6px 0px rgba(50, 50, 50, 1),  
        inset .9px .9px 0px rgba(50, 50, 50, 1),
        inset 1.2px 1.2px 0px rgba(50, 50, 50, 1);
    }

body {
    background-color: var(--backgroundColor);
     /*remove default padding*/
    margin: 0;
    padding: 0;
}

/*--------------------------------------------*/
/*NAVBAR*/

.navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--navBarColor);
    /*background-color: rgb(118, 137, 118);  Background color */
    overflow: hidden;
    display: flex; /* makes it horizontal */
    width: 100%;
    border-bottom: 2px solid black;
}


.navbarUL li {
    display: block;
    padding: 10px 17px;
}

.navbarUL li a {
    font-size: 22px;
    font-family: var(--stdHeaderFontFamily);    
    font-weight: 900;
    text-shadow:  var(--stdShadow);
    color: var(--mainTextColor);
    text-decoration: none;
}

.navbarUL li img {
    border: var(--stdBorder);
    box-shadow: var(--stdMinorShadow);
}

.navbarUL li:hover {
    background-color: color-mix(in srgb, var(--navBarColor) 90%, black);
    /*
    transform: scale(1.1);
    filter: blur(0);
    */
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 16px;

    box-shadow: var(--stdInsetMinorShadow);
}

/*--------------------------------------------*/
/*CHANNEL BAR*/ 

.channelBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    border : 1px solid black;
    border-top: 0px;
    width: var(--channelBarWidth);
}

li.channelBarHeader {
    border : 1px solid black;
}

li.channelBarHeader p {
    margin: 3px;
    text-align: center;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    height: 29px;
}

li.channelBarHandleButton {
    text-align: center;
    border : 1px solid black;
    background-color: var(--backgroundColor);
}


li.channelBarHandleButton:hover {
    cursor: pointer;
} 


li.channelBarHandleButton p {
    margin : 2.5px;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

li.channelBarHandleButton p:hover{
    transform: translate(1px, 1px);
}

/*contains the create thread button, thread view counter, sort, and created by info*/
.channelInfoBarHolder {
    position: absolute;
    top: 83px;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth));
    min-width: var(300px);
    background-color: var(--backgroundColor);
    border: 1px solid black;
    padding: 0px;
    display: flex;
}

.channelThreadsHolder {
    position: absolute;
    top: 112px;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 270px);
    min-width: var(300px);
    background-color: var(--backgroundColor);
    border: 1px solid black;
    padding: 0px;
}


div.channelNameHeader {
    position: absolute;
    top: 47px;
    border: 2px solid black;
    border-top: 0px;
    margin-left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 2px);
    display: flex;
    vertical-align: middle;
}

/*--------------------------------------------*/
/*NOTIFICATIONS*/

.notisIconDiv {
    background-color: var(--stdRed);
    border: var(--stdBorder);
    box-shadow: var(--stdMinorShadow);
}


.notisIconDiv:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--stdRed) 90%, black);
}



/*--------------------------------------------*/
/*THREAD HEADERS*/
.threadHeaderHolder {
    border : 1px solid black;
    margin: 0px;
    padding: 0px;
    position: 'relative';
    height: 55px;
    min-width: 500px
}

.stagingThread {
    border : 1px solid black;
    margin: 0px;
    padding: 0px;
}

.threadHeaderTitle {
    padding: 1px;
    margin: 3px;
    padding-left: 0px;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
/*--------------------------------------------*/
/*MESSAGES*/
.threadMessagesHolder {
    overflow: hidden; /* Hide scrollbars */
    scrollbar-width: none;

    position: relative; /* Parent positioning context */
    position: absolute ;
    top: 84px;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 270px);
    margin-bottom: var(--chatTypeBoxHeight);
    min-width: var(300px);
    background-color: var(--backgroundColor);
    border: 1px solid black;
    padding: 0px;
    height: calc(100% - 84px);
}
.threadMessagesHolder ul {
    overflow: hidden;
    scrollbar-width: none;

    display: flex;
    flex-direction: column; /* Messages grow upwards */
    overflow-y: auto;
    list-style: none;
    margin: 0;

    margin-left: 10px;
    padding: 0px;
    width: calc(100% - 0px);
    max-height: calc(100% - 100px);
}

.threadMessagesHolder ul li {
    position: relative;
    display: flex;
    border: var(--stdBorder);
    padding: 3px;
    margin: 2px;
    margin-left: 0px;
    font-size: 20px;
    font-family: var(--stdMinorFontFamily);
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    background-color: color-mix(in srgb, var(--navBarColor) 95%, white);

    min-width: 300px;
    width: calc(100% - 30px);
}

.msg-text {
    position: relative;
    margin-top: 15px;   
    left: 5px;  
    font-size: 18px;
    display: block;     /* block makes it easier to wrap properly */
    white-space: pre-wrap; 
    word-wrap: break-word; /* break long words if needed */
    max-width: calc(100% - 100px);
    
}

.msg-username {
    position: absolute;
    top: 5px; 
    left: 45px;  
    font-size: 10px;
    display: inline-block;
}

.msg-reply-header-text {
    position: absolute;
    top: 5px; 
    left: 45px;  
    font-size: 10px;
    display: inline-block;
}


.msg-date {
    position: absolute;
    top: 5px;   /* 10px from the top of the parent */
    font-size: 10px;
    display: inline-block;
}

.threadMessagesHolder ul li:nth-child(2n) {
    background-color: var(--navBarColor);
}

.threadMessagesProfileDiv {
    width: 35px;
    height: 35px;
    border: var(--stdBorder);
}

.threadMessagesProfileDiv img {
    padding: 0px;
    box-shadow: var(--stdMinorShadow);
}

/*--------------------------------------------*/
/*CHAT BOX*/
div.chatTypeDiv {
    z-index: 15;
    position: fixed;
    min-height: var(--chatTypeBoxHeight);
    height: auto;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 30px - 300px ); /* - 60px -> should be margin x 2*/ 
    background-color: var(--navBarColor);
    border: var(--stdBorder);
    box-shadow: var(--stdMinorShadow);
    margin: 30px;

    bottom: 0;
    display: flex; /* flex layout */
}

.chat-message-holder {
    flex: 1;
    border: var(--stdBorder);
    background-color: transparent;
    font-size: 15px; /* optional, to style input text */
    font-family: var(--stdMinorFontFamily);
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    padding: 5px;
    box-sizing: border-box; /* Ensures padding/border stays within 100% height */
    margin-right: 105px;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.send-button {
    z-index: 1;
    position: absolute;
    border: var(--stdBorder);
    height: calc(var(--chatTypeBoxHeight) - 6px);
    margin: 3px;
    right: 0px;
    bottom: 0px;
    min-width: 100px;
    box-shadow: var(--stdMinorShadow);
    background-color: var(--navBarColor);
    cursor: pointer;

    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--stdMinorFontFamily);
    text-shadow: var(--stdShadow);
}

.send-button:hover {
    background-color: color-mix(in srgb, var(--navBarColor) 80%, white);
}

.message-right-click-box {
    position: fixed; /*relative to scren space*/
    background-color: var(--navBarColor);
    border: var(--stdBorder);
    box-shadow: var(--stdMinorShadow);
    padding: 0px;
    margin: 0px;
    z-index: 5; /* Ensure it appears above other elements */
    display: none;
}

.message-right-click-button {
    border: var(--stdBorder);
    padding: 0px;
    margin: 0px;
    height: 21px;
}

.message-right-click-button:hover {
    background-color: color-mix(in srgb, var(--navBarColor) 90%, black);
}

.message-right-click-box p {
    cursor: default;
    margin: 1px;
    text-align: center;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-family: var(--stdMinorFontFamily);
    font-weight: 400;
    font-size: 15px;
}

/*--------------------------------------------*/
/*USER ACCOUNT MANAGEMENT*/
.userLoginButton {

}

.userNavbarButton {
    
}

.userProfileImage {

}

#pfp-img{
    border: var(--stdBorder);
    box-shadow: var(--stdShadow);
    margin: 10px;
    padding: 0px;
}
#pfp-img:hover {
    filter: brightness(0.5) saturate(1.5);
}

/*--------------------------------------------*/
/*GENERAL*/

.stdText {
    margin: 1px;
    text-align: center;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-family: var(--stdMinorFontFamily);
    font-weight: 400;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 4px 0 8px 0;
    font-size: 14px;
    font-family: var(--stdMinorFontFamily);
    height: 60px;
}

.errorText {
    bottom: 4px;
    margin-top: -9px;
    color: rgb(224, 26, 26);
    position: relative;
    font-size: 10px;
    font-weight: 600;
    font-family: var(--stdMinorFontFamily);
    text-decoration: none;
    text-align: center;
    text-shadow: var(--stdMinorShadow);
}

/* Add this to your CSS */
.placeholder::placeholder {
    color: var(--mainTextColor) 
}