:root {
    --channelBarWidth: 250px;

    --mainTextColor: #e5e2d9;
    --backgroundColor: rgb(127, 147, 127);
    --chatTypeBoxHeight: 40px;
    --navBarColor:  color-mix(in srgb, var(--backgroundColor) 90%, black);
    --stdHeaderFontFamily:"Times New Roman", Georgia, serif;
    --stdMinorFontFamily:"Verdana",Geneva,sans-serif;
    --stdBorder: 1.5px solid black;
    /*--stdShadowOffset:  2px 2px 0px rgba(0, 0, 0, 1). /* Horizontal, Vertical, Blur, Color */
    --stdShadow: 
        .3px .3px 0px rgba(0, 0, 0, 1),
        .6px .6px 0px rgba(0, 0, 0, 1),  
        .9px .9px 0px rgba(0, 0, 0, 1),
        1.2px 1.2px 0px rgba(0, 0, 0, 1),
        1.5px 1.5px 0px rgba(0, 0, 0, 1), 
        1.8px 1.8px 0px rgba(0, 0, 0, 1), 
        2.1px 2.1px 0px rgba(0, 0, 0, 1), 
        2.4px 2.4px 0px rgba(0, 0, 0, 1), 
        2.7px 2.7px 0px rgba(0, 0, 0, 1);

    --stdMinorShadow: 
        .3px .3px 0px rgba(0, 0, 0, 1),
        .6px .6px 0px rgba(0, 0, 0, 1),  
        .9px .9px 0px rgba(0, 0, 0, 1),
        1.2px 1.2px 0px rgba(0, 0, 0, 1),
        1.5px 1.5px 0px rgba(0, 0, 0, 1),
        1.8px 1.8px 0px rgba(0, 0, 0, 1);

    --stdInsetMinorShadow: 
        inset .3px .3px 0px rgba(0, 0, 0, 1),
        inset .6px .6px 0px rgba(0, 0, 0, 1),  
        inset .9px .9px 0px rgba(0, 0, 0, 1),
        inset 1.2px 1.2px 0px rgba(0, 0, 0, 1);
    }

body {
    background-color: var(--backgroundColor);
     /*remove default padding*/
    margin: 0;
    padding: 0;
}

/*--------------------------------------------*/
/*NAVBAR*/

.navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--navBarColor);
    /*background-color: rgb(118, 137, 118);  Background color */
    overflow: hidden;
    display: flex; /* makes it horizontal */
    width: 100%;
    border-bottom: 1.5px solid black;

}

.navbarUL li {
    display: inline;
    padding: 0px;
}

.navbarUL li a {
    font-size: 22px;
    display: block;
    color: var(--mainTextColor);
    text-decoration: none;
    font-family: var(--stdHeaderFontFamily);
    font-weight: 900;
    text-shadow:  var(--stdShadow);
    padding: 10px 17px;
    transition: transform 0.19s ease; 
}

.navbarUL li a:hover {
    background-color: rgb(105, 123, 106);
    transform: scale(1.1);
    filter: blur(0);
}

/*--------------------------------------------*/
/*CHANNEL BAR*/ 

.channelBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    border : 1px solid black;
    border-top: 0px;
    width: var(--channelBarWidth);
}

li.channelBarHeader {
    border : 1px solid black;
}

li.channelBarHeader p {
    margin: 3px;
    text-align: center;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    height: 29px;
}

li.channelBarHandleButton {
    text-align: center;
    border : 1px solid black;
    background-color: var(--backgroundColor);
}

/* 
li.channelBarHandleButton:hover {
    box-shadow: var(--stdInsetMinorShadow);
    background-color: var(--navBarColor);
} */


li.channelBarHandleButton p {
    margin : 2.5px;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

li.channelBarHandleButton p:hover{
    transform: translate(1px, 1px);
}

.channelThreadsHolder {
    position: absolute;
    top: 84px;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth));
    min-width: var(300px);
    background-color: var(--backgroundColor);
    border: 1px solid black;
    padding: 0px;
}


div.channelNameHeader {
    position: absolute;
    top: 46px;
    border: 2px solid black;
    margin-left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 2px);
    display: flex;
    vertical-align: middle;
}

/*--------------------------------------------*/
/*THREAD HEADERS*/
.threadHeaderHolder {
    border : 1px solid black;
    margin: 0px;
    padding: 0px;
}

.threadHeaderTitle {
    padding: 1px;
    margin: 3px;
    padding-left: 5px;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
/*--------------------------------------------*/
/*MESSAGES*/
.threadMessagesHolder {
    position: absolute;
    top: 84px;
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth));
    margin-bottom: var(--chatTypeBoxHeight);
    min-width: var(300px);
    background-color: var(--backgroundColor);
    border: 1px solid black;
    padding: 0px;
}

.threadMessagesHolder ul {
    list-style: none;         /* Removes default bullets */
    margin: 0;
    gap: 10px;                /* Space between list items */
    align-items: center;
    background-color: transparent;
    flex-grow: 1;             /* Fill available space if needed */
    overflow-x: auto;         
    scrollbar-width: thin;    /* Firefox scrollbar style */
}

.threadMessagesHolder ul li {
    border: var(--stdBorder);
    padding: 5px;
    margin: 2px;
    font-size: 20px;
    font-family: var(--stdMinorFontFamily);
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    background-color: color-mix(in srgb, var(--navBarColor) 95%, white);;
}

.threadMessagesHolder ul li:nth-child(2n) {
    background-color: var(--navBarColor);
}

/*--------------------------------------------*/
/*CHAT BOX*/
div.chatTypeDiv {
    position: fixed;
    height: var(--chatTypeBoxHeight);
    left: var(--channelBarWidth);
    width: calc(100% - var(--channelBarWidth) - 30px - 300px ); /* - 60px -> should be margin x 2*/ 
    background-color: var(--navBarColor);
    border: var(--stdBorder);
    box-shadow: var(--stdMinorShadow);
    bottom: 0;
    margin: 30px;
    display: flex; /* flex layout */
}

.chat-message-holder {
    flex: 1;
    border: var(--stdBorder);
    background-color: transparent;
    height: 100%;
    font-size: 15px; /* optional, to style input text */
    font-family: var(--stdMinorFontFamily);
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    padding: 5px;
    box-sizing: border-box; /* Ensures padding/border stays within 100% height */
    margin-right: 105px;
}

.send-button {
    position: absolute;
    border: var(--stdBorder);
    height: calc(var(--chatTypeBoxHeight) - 6px);
    margin: 3px;
    right: 0px;
    min-width: 100px;
    box-shadow: var(--stdMinorShadow);
    background-color: var(--navBarColor);
    cursor: pointer;

    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--stdMinorFontFamily);
    text-shadow: var(--stdShadow);
}

.send-button:hover {
    background-color: color-mix(in srgb, var(--navBarColor) 80%, white);
}

/*--------------------------------------------*/
/*USER ACCOUNT MANAGEMENT*/
.userLoginButton {

}

.userNavbarButton {
    
}

.userProfileImage {

}

/*--------------------------------------------*/
/*GENERAL*/

.stdText{
    margin: 1px;
    text-align: center;
    padding-top:0;
    color: var(--mainTextColor);
    text-shadow: var(--stdMinorShadow);
    text-decoration: none;
    font-weight: 400;
}